footer {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC;
    bottom: 0;
    position: fixed;
}

p {
    text-align: center;
    padding: 8px;
}
